html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
a{text-decoration:none;}
input[type="submit"]{cursor:pointer;}
img{border:none;}
*,*:after,*:before{box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
/************* reset css over ****************/
body{font-family:arial;}
.borderNone{border:none !important;}
.firstchild{padding-left:0px !important;}
.lastchild{padding-right:0px !important;}
.left{float:left;}
.right{float:right;}
.width100{width:100%;}
.marginRight{margin-right:0px !important;}
.marginBottom{margin-bottom:0px !important;}
.backgroundcolor{background:none !important;}
.clear{clear:both;}
/********** header part css here**************/
.wrapper{margin:auto;width:96%;max-width:910px;}
.urloan_logo{float:left;width:171px;height:148px;margin:20px 0 0;}
.header_right{float:right;margin:50px 0 0; width:75%; text-align:right;}
.apply_now_main{float:right;width:200px;text-align:center;}
.apply_now_main b{font-size:13px;font-weight:bold;color:#626262;}
.apply_now{float:right;margin:6px 0 0;}
/********** header part css over here *******/
/**** main navigation css here ****/
.main_navigation{margin:0 0 20px;}
.main_navigation,.main_navigation ul{float:left;width:100%;}
.main_navigation ul li, .main_navigation ul li a{float:left;}
/**** main navigation css over here  ****/
/***** login css here ******/
.login_form_main{padding:10px;background:#f0f0f0;border:1px solid #dadada;border-radius:6px;-o-border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;max-width:400px;margin:auto;clear:both; display:table;}
.signup_form_main{padding:10px;background:#f0f0f0;border:1px solid #dadada;border-radius:6px;-o-border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;width:100%;margin:auto;clear:both;}
h1, h2{font-size:25px;color:#252D31;margin:0 0 15px;}
.login_form_row,.signup_form_indiv{margin:0 0 15px;}
.login_form_row label,.signup_form_indiv label{width:100%;float:left;color:#566573;font-size:14px;margin:0 0 5px;font-weight:bold;}
.login_form_row input,.signup_form_indiv input{border:2px solid #BDC3C7;border-radius:6px;-o-border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;height:34px;color:#34495E;font-size:13px;line-height:32px;padding:5px;width:100%;font-weight:bold;}
.login_form_row input[type="submit"]{background:#0E4181;border:2px solid #0E4181;color:#fff;font-weight:bold;}
/***** login css over here ****/
/**** footer css here ****/
footer{background:#BCBCBD;border-top:3px solid #000;color:#000;padding:35px 25px 40px;margin:20px 0 25px;font-size:13px;}
.footer_navigation{text-align:center;}
.footer_navigation li{display:inline;}
.footer_navigation li a{font-size:13px;color:#000;margin:0 5px;}
.copyright{text-align:center;font-size:13px;color:#000;margin:7px 0 20px;}
.copyright a{color:#000;}
.fine-print p{font-size:9px;color:#575757;line-height:22px;}
footer a:hover{text-decoration:underline;}
/*****foote css over here ***/
/*** signup css here ****/
.signup_form_indiv{max-width:446px;width:49%;}
.signup_form_indiv input[type="submit"]{width:auto;background:#0E4181;color:#fff;border:2px solid #0e4181;font-weight:bold;padding:0 11px;float:right;}
nav a#pull, .navigation {display: none;color:#fff;}
/**** signup css  over here ****/
fieldset{border:1px solid #ccc; padding:10px; clear: both;}
legend{font-size:18px; padding:0 10px; margin:20px;}
fieldset label{display: inline-block; margin: 0 1% 0 0; text-align: right; width: 40%;}
fieldset input, fieldset select{border: 1px solid #CCCCCC; padding: 2px 3px; width: 40%;}
fieldset .input {margin:0 0 10px;}
.submit{margin: 10px 0 0; text-align: center;}
.userdetails{float: right; width: 70%;}
div#qualify_cont h2 {float:left;font-weight:bold;font-size:15px;}
div#slider-range-min {float: left; margin: -10px 0 16px; width: 100%;}
select.ui-datepicker-month{height:27px !ipmortant;}
select.ui-datepicker-year{height:27px !ipmortant;}
 a{color:#183156;}
 a:hover{color:#CF001C;}
.left-panel{width:28%; float:left; font-size: 14px; margin: 20px 0;}
.left-panel a{color:#183156; display:block;}
.left-panel a:hover{color:#CF001C;}
.left-panel ul{margin:0px; padding:0px;}
.left-panel ul li{margin:0px; padding:8px 0px; list-style:none; border-bottom:1px solid #ccc;}
label#back_label{float:left;width:100%}
.button, input[type="submit"], input[type="submit"].button, a.button, input[type="button"] {
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
        padding:5px 10px;
width:auto;

}

.button:hover, input[type="submit"]:hover, input[type="submit"].button:hover, a.button:hover, input[type="button"]:hover {
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3B8230), to(#76BF6B));
	background-image: -webkit-linear-gradient(top, #3B8230, #76BF6B);
	background-image: -moz-linear-gradient(top, #3B8230, #76BF6B);
	background-image: -ms-linear-gradient(top, #3B8230, #76BF6B);
	background-image: -o-linear-gradient(top, #3B8230, #76BF6B);
	background-image: linear-gradient(top, #3B8230, #76BF6B);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
        padding:5px 10px;
}

.info input[type="button"]{clear:both;}

.info fieldset label{margin: 0 1% 0 0; text-align: left; width:auto;}
.info {
	margin-bottom: 1em;
	padding: 1.5em;
	vertical-align: text-top;
        float:left;
        border: 1px solid #CCCCCC;
width:100%;

}
.info .input {
	color: #444;
     float: left;
    margin: 0 0 20px;
    width: 100%;
}
.info .required {
	font-weight: bold;
}
.info .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
.info div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	margin-bottom:3px;
        font-size: 13px;
        }
input, textarea {
	clear: both;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	border: 1px solid #CCCCCC; padding: 2px 3px;
	width:100%;
}
select {
	border: 1px solid #CCCCCC;
        height: 23px;
        line-height: 23px;
        padding: 2px 3px;
        vertical-align: text-bottom;
        width: 100%;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	
	padding: 0 3px;
}
input[type=checkbox] {
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	width:auto;
	margin: 1px 5px 0 0;
	padding: 0;
	line-height: 26px;
}
.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
.info .submit input[type=submit] {
	background:#62af56;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	border-color: #2d6324;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 8px 10px;
}
.info .submit input[type=submit]:hover {
	background: #5BA150;
}
div.tab1, .tab2, .tab3, .tab4, .tab5, .tab0{padding:10px;}
.file{margin:0 0 20px;}
.file label{display: inline-block; margin: 0 1% 0 0; text-align: right; width: 40%;}
.file input[type="file"]{border: 1px solid #CCCCCC; padding: 2px 3px; width: 40%;}
.applications table{
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
        float:left;
        border: 1px solid #CCCCCC;
        width:100%;
}
.applications p{ font-size:13px;}
.applications table th{border: 1px solid #CCCCCC; border-colaps:colaps; padding:5px; background:#F6F2EF; font-size:15px; text-align:center;}
.applications table td{border: 1px solid #CCCCCC; border-colaps:colaps; padding:8px 5px; font-size:13px; text-align:center;}
.paging{display:table; margin:20px auto;}
.paging .prev{margin:0 10px 0 0;}
.paging .next{margin:0 0 0 10px;}
.right-panel{
    border-left: 1px solid #CCCCCC;
    float: right;
    padding: 0 0 0 2%;
    width: 70%;
min-height:300px;
}
.proposal-pro
{
clear:both;
margin:0 0 20px;
}
.proposal-pro label
{
display:inline-block;
margin:0 20px 0 0;
}
#terms_cont label{display:inline;}

/**** media queries **************/
@media all and (max-width:909px){
.main_navigation, .main_navigation ul{text-align:center; display:none;}
.main_navigation ul li, .main_navigation ul li a{float:none;display:inline-block;}

.navigation {display:table; position:relative;}
.navigation {height:auto; background:none; width:100%; margin:10px 0% 20px; z-index:9; clear:both; }
.navigation ul{width:100%; display:none; height: auto; background-color: #0e4181; border-bottom: 1px solid #FFFFFF;  border-left: 1px solid #FFFFFF; position:absolute; z-index:9; float:left; top:30px;}
.navigation li {width: 33.3% !important;float: left;position: relative; border:none; padding:0; margin:0px !important;}
.navigation li:hover {background-color: #31A2D7;}
.navigation li a {border-top: 1px solid #fff; border-right: 1px solid #fff;  padding:5px 0px !important; color:#fff;  border-radius:0px !important;display:inline-block;}
.navigation li a:hover, nav li a.active {border-top: 1px solid #fff; border-right: 1px solid #fff;  color:#fff; box-shadow:none; }
.navigation a {text-align: left; width: 100%;text-indent: 15px; color:#fff;}
.navigation a#pull {display: block; background:#0e4181; width: 100%; position: relative; min-height:30px; color: #fff;  float: left;font-size:15px; padding:10px 10px 0; text-indent:0px; margin:0px 0 0;}
.navigation a#pull:after {content:"";	background: url('../img/nav-icon.png') no-repeat;width: 30px;height: 30px;	display: inline-block !important;position: absolute;right:-5px;top: 5px;}
}
@media all and (max-width:800px)
{
.signup_form_main{padding:0 5px;}
}
@media all and (max-width:760px)
{
.header_right{width:274px;margin:10px 0 0;}
.apply_now_main{width:100%;float:right;}
.apply_now{float:none;display:inline-block;}
.footer_navigation li a{display:inline-block;margin:0 5px 5px;}
.copyright{line-height:19px;margin:7px 0 13px;}

@media all and (max-width:565px){
footer{padding:20px 10px;}
.copyright,.footer_navigation li a{font-size:12px;}
header{text-align:center;}
.header_right{width:100%;margin:-22px 0 0;}
.apply_now_main b{display:block;width:100%;}
.urloan_logo{display:inline-block;float:none;}
}
@media all and (max-width:480px){
.signup_form_indiv{width:100%;float:left;}
.navigation li {width: 50% !important;float: left;position: relative; border:none; padding:0; margin:0px !important;}
}